
<div class = "middle-Wrap">
  <div class = "middle">

    <form method="post" action="/user/signIn">
      <label for = "username">Username: </label>
      <input type = "text" name = "username">
      <br>
      <label for = "password">Password:</label>
      <input type = "password" name="password">
      <input type="submit" value="Sign In">
    </form>

  </div>
</div>